Package: com.sinmat.phonecontexthook
Name: PhoneContextHook
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Adds call context overlay to the number directory app
Maintainer: sinmat
Author: sinmat
Section: Tweaks
